/.env
/vendor/
/.phpunit.cache/
/storage/cache/*
/storage/logs/*
/storage/sessions/*
/public/uploads/*
!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/sessions/.gitkeep
!/public/uploads/.htaccess
